doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Homework 12
		link(rel="stylesheet" href="normalize.css")
		link(rel="stylesheet" href="main.css")
	body
		header
			div.wrapper
				nav.nav
					div.nav-text
						a(href="#").nav-text-item  Home
						a(href="#").nav-text-item  About
						a(href="#").nav-text-item  Contact
					div.logo Landie
					button(type="button").button.nav-button.button-blue  Buy now
				section.section-1
					div.section-1-text
						h1.section-1-title-text Introduce Your Product Quickly & Effectively
						div.section-1-main-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex odio explicabo deleniti delectus fuga consequuntur debitis quam vero porro itaque cum quasi illum eum libero nemo, atque quaerat sapiente quae!
						div.button-container
							button(type="button").button.section-1-button.button-blue Purchase UI Kit
							button(type="button").button.section-1-button.button-white Learn More
		main
			section.section-2
				div.wrapper
					div.section-2-description
						div.section-2-text
							h2.section-2-text-title.text-title Light, Fast & Powerful
							div.section-2-text-main.text-main Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae quo quis, ab laborum est, nostrum atque hic architecto aut at accusantium reiciendis aliquid commodi, assumenda. Temporibus nesciunt ipsa magni laboriosam.
						div.section-2-option
							div.option.option-1
								img(src="images/building-icon.svg")
								div.option-text
									div.option-text-title Title Goes Here
									div.option-text-main Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							div.option.option-2
								img(src="images/building-icon.svg")
								div.option-text
									div.option-text-title Title Goes Here
									div.option-text-main Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					div.section-2-image
						img(src="images/2-section-image.png")
			section.section-3
				div.wrapper
					div.section-3-image
						img(src="images/3-section-image.png")
					div.section-3-text
						div.text-title Light, Fast & Powerful
						div.text-main Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia reiciendis accusamus non alias nesciunt aperiam laboriosam magnam, adipisci ipsum hic vel, maxime, libero dolorum, reprehenderit! Enim at ducimus ut.
			section.section-4
				div.wrapper
					div.section-4-image
						img(src="images/4-section-image.png")
					div.section-4-text
						div.text-title Light, Fast & Powerful
						div.text-main Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia reiciendis accusamus non alias nesciunt aperiam laboriosam magnam, adipisci ipsum hic vel, maxime, libero dolorum, reprehenderit! Enim at ducimus ut.
			section.section-5
				div.wrapper
					div.section-5-image
						img(src="images/5-section-image.png")
					div.section-5-text
						div.text-title Light, Fast & Powerful
						div.text-main Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia reiciendis accusamus non alias nesciunt aperiam laboriosam magnam, adipisci ipsum hic vel, maxime, libero dolorum, reprehenderit! Enim at ducimus ut.
						button.button.button-blue.section-5-button Purchase Now
			section.section-6
				div.section-6-text
					div.text-title A Price To Suit Everyone
					div.text-main Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					div.text-price $40
					div.text-main UI Design Kit
					div.section-6-text-sm See, One price. Simple
					button.button.button-blue.section-6-button Purchase Now
			footer
				div.wrapper
					div.footer-up
						div.rights ©2020 Yourcompany
						div.logo Landie
						button.button.button-blue.footer-button Purchase now
					nav.footer-nav
						div.nav-text
							a(href="#").nav-text-item  Home
							a(href="#").nav-text-item  About
							a(href="#").nav-text-item  Contact
						div.social
							img(src="images/facebook.svg")
							img(src="images/linked-in.svg")
							img(src="images/twitter.svg")
							img(src="images/youtube.svg")
							img(src="images/instagram.svg")


