body {
	background: url(images/Bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.navbar {
	width: 100%;
	height: 100px;
	margin-top: 17px;
	display: flex;
}

.logo {
	display: flex;
	justify-content: space-between;
	margin-left: 165px;
	align-items: center;
	min-width: 172px;
	min-height: 29px;
}

.logo-text {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;

	display: flex;
	align-items: center;
	text-transform: uppercase;

	color: #FFFFFF;

}

.nav-menu {
	margin-left: 171px;
	min-width: 445px;
	min-height: 22px;
	display: flex;
	justify-content: space-between;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	align-items: center;
	text-transform: uppercase;
}

.nav-menu-link {
	color: white;
	text-decoration: none;
}

.language {
	min-width: 96px;
	min-height: 32px;
	display: flex;
	justify-content: space-between;
	margin-left: 113px;
	align-items: center;
}


.language-selection {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	align-items: center;
	text-transform: uppercase;

	color: #FFFFFF;
}

.triangle {
	cursor: pointer;
}

.login-button-container {
	display: flex;
	margin-left: 20px;
	align-items: center;
}

.nav-login-button {
	min-width: 100px;
	min-height: 40px;
	cursor: pointer;
	
	align-items: center;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 6px;
	background-color: transparent;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;

	text-transform: uppercase;

	color: #FFFFFF;
}

.main-logo {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	min-width: 578px;
	min-height: 86px;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 86px;
	align-items: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	color: #FFFFFF;
}

.main-text {
	margin-left: auto;
    margin-right: auto;
	max-width: 500px;
	min-height: 124px;
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 150%;

	text-align: center;

	color: #FFFFFF;
}

.sign-up-button-container {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.sign-up-button {
	min-width: 160px;
	min-height: 50px;
	cursor: pointer;

	background: #FFFFFF;
	border-radius: 6px;
	border: none;

	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	
	text-transform: uppercase;

	color: #ED4C5C;
}